html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	min-height: 100%;
	font-family: Helvetica, sans-serif, arial;
	margin: 0;
}

h1 {
	text-align: center;
	padding: 1em 0 .5em 0;
}

h3 {
	text-align: center;
	padding-top: .5em;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#success-header {
	text-align: center;
	margin-top: 1;
}

#image-container {
	width: 55%;
	margin: 0 auto;
	border-radius: 2px;
	overflow: hidden;
}

#image-container img {
	width: 100%;
}

#banner {
	padding: 1em 0 1.7em 0;
}

#wrapper {
	position: relative;
	background-image: url(../images/space.jpg);
	background-size: cover;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	overflow: auto;
}

#content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	background-color: #F5F5F4;
	min-height: 100%;
	width: 81%;
}

#header {
	height: 0;
	background-color: transparent;
	margin-top: 0;
}

#footer {
	position: relative;
	text-align: center;
	width: 100%;
	height: 100px;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(250, 250, 250, 0.3);
	display: table;
}

#footer-sig-container {
	height: 100%;
	width: 81%;
	margin: 0 auto;
	display: table;
}

#footer-sig {
	display: table-cell;
	vertical-align: middle;
	margin: 0 2em;
	text-align: right;
}

.bucket-left {
	width: 40%;
	/*height: 10em;*/
	float: left;
	position: relative;
	text-align: left;
	margin-left: 17%;
	margin-bottom: .8em;
	padding-bottom: .8em;
}

.bucket-right {
	width: 40%;
	/*height: 10em;*/
	float: left;
	margin-left: 0;
	position: relative;
	text-align: left;
	margin-bottom: .8em;
	padding-bottom: .8em;
}

.bucket-center {
	display: block;
	margin-left: 35%;
	margin-right: auto;
	width: 40%;
}

.stacked-item {
	text-align: left;
	margin-bottom: .5em;
	padding-bottom: .3em;
}

#top-left {
	width: 100%;
	height: 50%;
}

#top-right {
	width: 100%;
	height: 50%;
}

#bottom-left {
	width: 100%;
	height: 50%;
}

#bottom-right {
	width: 100%;
	height: 50%;
}

.answer-button {
	height: 5%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.button-container {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.pink-button-container {
	text-align: center;
	height: 100px;
	width: 40%;
	margin: .5em auto .5em auto;
	padding-top: 3em;
	display: table;
}

.pink-button-container a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	margin: 0 auto;
}

.pink-button {
	width: 400px;
	height: 50px;
	background: #F058B7;
	opacity: .9;
 	color: #FFFEEE;
 	text-decoration: none;
 	text-align: center;
	border-radius: 2px;
	display: table-cell;
	vertical-align: middle;
}

.pink-button:hover {
	opacity: 1;
}

label {
	padding-left: .3em;
	padding-right: .3em;
}

form {
	margin-bottom: 1em;
}
